{{#each foo}}
{{this}}
{{/each}}
<h3>Add New Customer:</h3>
<form id="addCustomer" action="/customers" method="post">  <!-- changed to addMovie, not tested-->
    <!--Customer Type:    <input type="text" name="customerType"><br> -->
    Customer Name:     <input type="text" name="customerName"><br>
    Customer Type:
    <select name="customerType" id="type">
        <option value="Child">Child</option>
        <option value="Adult">Adult</option>
    </select><br>
    Customer Email:    <input type="text" name="customerEmail"><br>
    <input type="submit" value="Submit">
 </form>
<br/>

<br>
<h3>Customers Database:</h3>  <!--working!-->
<table class="table table-striped">
    <thead> 
        <th>customerID</th> 
        <th>customerName</th>
        <th>customerType</th> 
        <th>customerEmail</th>
    </thead> 
    <tbody>
        {{#each customers}} 
        <tr> 
            <td>{{id}}</td> 
            <td>{{customerName}}</td>
            <td>{{customerType}}</td> 
            <td>{{customerEmail}}</td> 
            <td><button onclick="deleteCustomer({{id}})">Delete</button></td>  <!-- working! -->
            <td><a href="/customers/{{id}}">Update</a></td>  <!-- not tested -->
        </tr> 
        {{/each}} 
    </tbody> 
</table> 
