{{#each foo}}
{{this}}
{{/each}}
<h3>Add New Ticket Purchase:</h3>
<form id="addTicketPurchase" action="/ticket_purchases" method="post">
    customerID:     <input type="text" name="customerID"><br>
    movieID:        <input type="text" name="movieID"><br>
    showingID:      <input type="text" name="showingID"><br>
    roomID:         <input type="text" name="roomID"><br>
    ticketPrice:    <input type="text" name="ticketPrice"><br>
    <br><br><br><br>
    {{!-- Testing:<br>
    customerID: 
    <select name='customerID'>  <!--something wrong in this code -->
        {{#each customers}}
        <option value="{{customerID}}">{{customerID}}</option>
        {{/each}}
    </select><br>
    movieID: 
    <select name='movieID'>  <!--something wrong in this code -->
        {{#each movies}}
        <option value="{{movieID}}">{{movieID}}</option>
        {{/each}}
    </select><br>
    showingID:
    <select name='showingID'>  <!--something wrong in this code -->
        {{#each showings}}
        <option value="{{showingID}}">{{showingID}}</option>
        {{/each}}
    </select><br>
        roomID:
    <select name="roomID" id="type">
        <option value=1>1</option>
        <option value=2>2</option>
        <option value=3>3</option>
        <option value=4>4</option>
        <option value=5>5</option>
        <option value=6>6</option>
    </select><br>
    ticketPrice:    <input type="text" name="ticketPrice"><br> --}}
    <input type="submit" value="Submit">    
</form>
<br/>

<br>
<h3>Ticket_Purchases Database:</h3>  <!--working!-->
<table>
    <thead> 
        <th>customerID</th> 
        <th>movieID</th> 
        <th>showingID</th>
        <th>roomID</th>
        <th>ticketPrice</th>
    </thead> 
    <tbody>
        {{#each ticketpurchases}} 
        <tr> 
            <td>{{customerID}}</td> 
            <td>{{movieID}}</td> 
            <td>{{showingID}}</td> 
            <td>{{roomID}}</td> 
            <td>{{ticketPrice}}</td> 
            <td><button onclick="deleteTicketPurchase({{id}})">Delete</button></td>  <!-- updated, not tested -->
            <td><a href="/ticket_purchases/{{id}}">Update</a></td>  <!-- updated, not tested -->
        </tr> 
        {{/each}} 
    </tbody> 
</table> 