{{#each foo}}
{{this}}
{{/each}}
<h3>Add New Genre:</h3>
<form id="addGenre" action="/genres" method="post">
    Genre: <input type="text" name="genre"><br> 
    <input type="submit" value="Submit">
 </form>
<br/>

<br>
<h3>Genres Database:</h3>
<table class="table table-striped">
    <thead> 
        <th>genreID</th> 
        <th>genreName</th>
    </thead> 
    <tbody>
        {{#each genres}} 
        <tr> 
            <td>{{genreID}}</td>             
            <td>{{genreName}}</td> 
            <td><button onclick="deleteGenre({{genreID}})">Delete</button></td> 
            {{!-- <td><a href="/genres/{{genreID}}">Update</a></td>   --}}
        </tr> 
        {{/each}} 
    </tbody> 
</table> 