{{#each foo}}
{{this}}
{{/each}}
<h3>Add New Movie:</h3>
<form id="addMovie" action="/movies" method="post">
    Movie Title:    <input type="text" name="movieTitle"><br>
    Movie Genre:    
    <select name="genreID" id="type">

        <option value=0>None</option>
        {{#each genres}}
            <option value={{genreID}}>{{genreName}}</option>
        {{/each}}
    </select><br>
    Movie Duration (mins): <input type="text" name="movieDuration"><br> 
    Movie Restriction:
    <select name ="movieRestriction" id = "type">
        <option value="Rated G">Rated G</option>
        <option value="Rated R">Rated R</option>
    </select><br>
    Movie Description: <input type="text" name="movieDescription"><br> 
    <input type="submit" value="Submit">
 </form>
<br/>

<form id='filter_genre' action='' method=''>
<!--- this form does not submit directly, the button handles all the interaction with backend -->
    <label> Filter by genre </label>
    <select id='genre_filter' name="genres"> 
        {{#each genres}}
            <option value="{{genreID}}">{{genreName}}</option>
        {{/each}}
    </select><br>
    <input type="button" value="Filter" onclick="filterMovieByGenre()">
</form>

{{!-- <form id='search_movies' action='' method=''>
<!--- this form does not submit directly, the button handles all the interaction with backend -->
    <label> Search Movies for movie title starting with:</label>
    <input id='movie_title_search_string' type='text' name='movie_title_search_string' value=''>
    <input id='search_movies_button 'type="button" value="Search">  <!--for some reason, searchMovieByTitle() is not defined, Uncaught Reference Error-->
</form> --}}

<br>
<h3>Movies Database:</h3>
<table class="table table-striped">
    <thead> 
        <th>movieID</th> 
        <th>movieTitle</th> 
        <th>genreID</th>
        <th>movieDuration</th>
        <th>movieRestriction</th>  
        <th>movieDescription</th>
    </thead> 
    <tbody>
        {{#each movies}} 
        <tr> 
            <td>{{id}}</td> 
            <td>{{movieTitle}}</td> 
            <td>{{genreID}}</td> 
            <td>{{movieDuration}}</td>
            <td>{{movieRestriction}}</td> 
            <td>{{movieDescription}}</td>
            <td><button onclick="deleteMovie({{id}})">Delete</button></td> 
            <td><a href="/movies/{{id}}">Update</a></td>  
        </tr> 
        {{/each}} 
    </tbody> 
</table> 
