{{#each foo}}
{{this}}
{{/each}}
<div>
<h3> Associate Certificate(s) with a Person </h3>
    <form id="add_people_certificates" action="/people_certs" method="post">
    Person: <select name='pid'>
        {{#each people}}
        <option value='{{pid}}'>{{fname}} {{lname}}</option>
        {{/each}}
    </select>
    <br>
    Certificates:<sup>Multi-select</sup> <select multiple name="certs"> 
        {{!-- We display title but the value that is submitted through the form is actually the certificate's id --}}
        {{#each certificates}}
        <option value="{{cid}}">{{title}}</option>
        {{/each}}
    </select><br>
    <input type="submit" value="Submit">
    </form>
</div>
<br/>
<h3> List of People with their Certifications </h3>
<table class="table table-striped">
    <thead> 
        <th>Name</th> 
        <th>Certificate</th> 
    </thead> 
    <tbody> 
        {{#each people_with_certs}} 
        <tr> 
            <td>{{name}}</td> 
            <td>{{certificate}}</td> 
            <td><button onclick="deletePeopleCert({{pid}},{{cid}})">Delete</button></td>
            <td><a href='#' onclick='javascript: alert("You can implement it just like the Add form.")'>Update</a></td>
        </tr>
        {{else}}
        <b> No people with any certifications found! Grant some using the form. </b>
        {{/each}} 

    </tbody>
</table> 
